body{
    background: url("img/bg.jpg");
}
.field{
    width: 500px;
    height: 500px;
    margin: auto;
}
.field img{
    margin-top: 100px;
    width: 300px;
    height: 300px;
}

.bat{
    transform: rotate(-20deg);
    transition: transform 1.2s ease-in-out;
}
.bat:hover{
    transform: rotate(10deg);
}
.flower{
    width: 50px !important;
    height: 50px !important;
    position: relative;
    bottom: 200px;
    right: 130px;
    transition: transform 1.2s ease 1.2s;
}
.field:hover .flower{
    transform: translate(500px, 100px) rotate(180deg);
}